
div.readme {
	border-radius: 25px;
	background-color:rgb(208, 223, 207); 
	padding: 20px; 
	width:65%; 
	height:600px; 
	 
	top:180px;  
	left: 300px;		}

 div.naslov {
 	
 	left: 300px;
	top: 40px;	}




